
html{
  box-sizing: border-box;
  border: thin;
  border-style: solid;
}


body {
  font-size: 17px;
  text-align: center;
  align-items: center;
  font-family: Arial;
  background: linear-gradient(to bottom, #0099cc 0%, #66ffff 100%);
  font-family: 'Lato', sans-serif; 
}

.advocacy {
  margin: 3% 0% 1.5% 0%;
}

.works {
  padding-top: 10px;
  padding-bottom: 10px;
}

.steps {
  display: flex;
  align-items: center;
  justify-content: center;
}

.steps-text {
	display: inline-block;
	text-align: left;
  line-height: 35px;
}

.donate {
  display: flex;
  align-items: center;
  justify-content: center;
}

.donate-text {
  display: flex;
	text-align: justify;
  background-color: ;
  line-height: 40px;
} 


figcaption {
  font-size: 12px;
}

.donation:hover .donation-text {
  display: block;
}

.donation:hover .donationbtn {
  background-color: #33ccff;
}

.donationbtn {
  background:  #A1CAF1;
  font-size: 20px;
  border-radius: 12px;
}

.table {
  margin: 2% 0% 3% 0%;
}

.team {
  display: inline-flex;
}

.team-text {
  font-size: 20px;
  word-spacing: 140px;
}

.donatebtn:hover .button {
  background-color: #33ccff;
}

.button {
  font-size: 20px;
  padding: 10px;
  background: #A1CAF1;
  border-radius: 12px;
  color: black;
}

.navbar {
  background-color: skyblue;
  overflow: hidden;

}
.navbar a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.navbar a:hover {
  background-color: #ddd;
  color: black;
}
.navbar a.active {
  background-color: #33ccff;
  color: white;
}

.social {
  position: fixed;
  right: -85px;
  top: 419px;
  width: 190px;
}

.social a {
  display: block;
  padding: 16px;
  height: 23px; 
  color: #efefef;
  font-size: 20px;
  text-align: center;
}
 
.fa-instagram {
  background: linear-gradient(45DEG, #405DE6, #5851DB, #833AB4, #C13584, #E1306C, #FD1D1D);
  padding: 17px 18px 17px 18px;
  margin-right: 17px;
}

.fa-facebook {
  background: #3B5998;
  padding: 17px 19px 17px 21px;
  margin-right: 18px;
}

.fa-twitter {
  background: #55ACEE;
 padding: 17px 18px 17px 17px;
  margin-right: 17px;
}

.fa {
color:#fff;
}

.icons-container{
  top:318px;
  width:270px;
  margin:0px;
  padding:0px;
  right:-185px;
  position:fixed;
}

.icons li{
  color:black;
  height:49px;
  padding:0px;
  text-align: left;
  list-style-type:none;
  margin:0px 0px 1px 0px;
  background-color:#1F75FE; 
}

.icons li:hover{
  margin-left:-190px;
}

.icons li img{
  float:left;
  margin: 5px 4px;
  margin-right:5px;
}

.icons li p{
  margin:0px;
  padding-top:5px;
  font-size:15px;
  line-height:16px;

}