body {
	font-family:  Arial;
	font-size: 17px;
	background: linear-gradient(to bottom, #0099cc 0%, #66ffff 100%); 
	align-items: center;
	width: 50%;
	margin-top: 5%;
	margin-bottom: 5%;
	margin-left: 25%;
	margin-right: 25%;i
}

* {
	box-sizing: border-box;

}

h2 {
	text-align: center;
	margin-top: 50px;
	margin-bottom: 30px;
}

.container {
	margin:  0 auto;
	display: block;
	background-color: whitesmoke;
	padding: 5px 15px 20px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
}

input[type=text] {
	width: 70%;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 10px;
  margin-bottom: 25px;
} 
label {
	margin-bottom: 10px;
	display: block;
}
 
.payment {
	font-size: 50px;
	text-align: center;
} 

.fa {
	float: center;
	padding: 20px;
  color: #253B80;
}
a{
	margin-left: 8%;
}

.cancelbtn {
	font-size: 17px;
	float: right;
	vertical-align: text-bottom;
	background:  #A1CAF1;
  border-radius: 12px;
}

.donation-text {
	font-size: 17px;
}
select.name {
  font-size: 17px;
}

.navbar {
  background-color: skyblue;
  overflow: hidden;

}
.navbar a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.navbar a:hover {
  background-color: #ddd;
  color: black;
}
.navbar a.active {
  background-color: #33ccff;
  color: white;
}

.social {
  position: fixed;
  right: -85px;
  top: 419px;
  width: 190px;
}
.icons-container{
  top:318px;
  width:270px;
  margin:0px;
  padding:0px;
  right:-185px;
  position:fixed;
}

.icons li{
  color:black;
  height:49px;
  padding:0px;
  text-align: left;
  list-style-type:none;
  margin:0px 0px 1px 0px;
  background-color:#1F75FE; 
}

.icons li:hover{
  margin-left:-190px;
}

.icons li img{
  float:left;
  margin: 5px 4px;
  margin-right:5px;
}

.icons li p{
  margin:0px;
  padding-top:5px;
  font-size:15px;
  line-height:16px;
}
.fa-instagram {
  background: linear-gradient(45DEG, #405DE6, #5851DB, #833AB4, #C13584, #E1306C, #FD1D1D);
  padding: 17px 18px 17px 18px;
  margin-right: 17px;
}

.fa-facebook {
  background: #3B5998;
  padding: 17px 19px 17px 21px;
  margin-right: 18px;
}

.fa-twitter {
  background: #55ACEE;
 padding: 17px 18px 17px 17px;
  margin-right: 17px;
}

.fa {
color:#fff;
}
.social a {
  display: block;
  padding: 25px;
  height: 20px; 
  color: #efefef;
  font-size: 20px;
  text-align: center;
}
.social {
  position: fixed;
  right: -77px;
  top: 409px;
  width: 190px;
}